.fridge-page {
  background-color: #8fc982;
  padding: 2rem;
  color: #fff;
}

.fridge-content {
  display: flex;
  padding: auto;
  flex: 2;
  margin: 10rem;
}

.fridge-table {
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  color: #333;
  min-width: 60%;
}

.side-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
  min-width: 30%;
}

.saved-info,
.wasted-info {
  background-color: #f0f0f0;
  padding: 1rem;
  gap: 1rem;
  border-radius: 8px;
  color: #333;
}
