.navbar {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 100;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  height: 8vh;
}

.logo {
  height: auto;
  width: 35%;
  object-fit: contain;
  margin-right: 10px;
}

.app-name {
  font-size: 1.5em;
  color: #4caf50;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.nav-link {
  font-size: 1.2em;
  color: #94bf73;
  text-decoration: none;
  margin-right: 20px;
}

.nav-link:hover {
  color: #ff6000;
}

.user-settings {
  display: flex;
  align-items: center;
}

.username {
  font-size: 1.1em;
  color: #4caf50;
  margin-right: 10px;
  text-decoration: none;
}

.settings-icon {
  font-size: 1.5em;
  color: #4caf50;
  cursor: pointer;
  text-decoration: none;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.settings-btn {
  display: flex;
  width: auto;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  padding: 0;
}

.settings-btn:hover {
  color: #ff6000;
  background-color: transparent;
}
