.savings-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.saved-info,
.wasted-info {
  background-color: #f0f0f0;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.saved-info h3 {
  color: #8fc982;
  font-weight: bold;
}

.wasted-info h3 {
  color: #e64545;
  font-weight: bold;
}

